// styles.scss
@import '../../scss/_variables';
@import '../../scss/mixins';

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: $primary-color;
  color: $text-color;
  padding: $padding 0;

  a {
    @include footer-link;
  }

  &-top {
    border-bottom: 1px solid $secondary-color;
    padding-bottom: $padding;
  }

  .container {
    @include container;
  }

  &-links {
    @include flex-center;
  }

  &-column {
    flex: 1;
    min-width: 200px;
    margin: $margin;

    h4 {
      margin-bottom: $margin;
      font-size: $font-size-large;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: $margin;
      }
    }
  }

  &-bottom {
    padding-top: $padding;
    text-align: center;

    &-links {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline;
        margin: 0 $margin;
      }
    }
  }
}
